/* Stylesheet file for body formatting. */
body {
	background-color: white;
}


/*CSS for Body elements. */
p {
	font-family: "Times New Roman";
	font-size: 14px;
}

p.normal {
	font-family: "Times New Roman";
	font-size: 14px;
}

ul {
	
}

li {
	
}

.center {
	text-align: center;
}